fastapi
uvicorn
sqlalchemy
uvicorn[standard]
sqlmodel
asyncpg
pydantic
passlib[bcrypt]
python-jose
python-multipart
requests
pytest
httpx>=0.23.0
pytest-asyncio
aiosqlite
celery
redis
pydantic-settings
greenlet
